<div>
  <div class="container-fluid" role="main">

    <div id="content" class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" [attr.aria-valuenow]="progress | async" aria-valuemin="0" aria-valuemax ="100"
               style="min-width: 2em;" [style.width]="((progress | async)) + '%'">
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>
