<div>
  <h3 i18n><strong>Johdanto</strong></h3>

  <div i18n>
    <p>Tervetuloa Julkisen hallinnon tietohallinnon neuvottelukunnan (JUHTA) toteuttamaan Arjen tietosuoja nettitestiin!</p>
    <p>Testi pohjautuu Arjen tietosuoja -videoon ja siihen liittyvään tukimateriaaliin.</p>
    <p>
      Nettitesti-palvelu ei tallenna mitään vastaajaan liittyviä tietoja talteen.
      Mikäli käytät yhteiskäyttöistä tietokonetta, suljethan testin sen tehtyäsi sivulla olevaa Sulje-painiketta käyttäen.
      Muista myös sulkea käyttämäsi www-selain.
    </p>
    <p>
      Voit kysyä lisätietoja testistä tai antaa palautetta sähköpostitse osoitteeseen arjen.tietosuoja@vm.fi.
      Huomaa! Emme erikseen kerro tai kommentoi yksittäisiä kysymyksiä tai oikeita vastauksia.
    </p>
    <p>Pääset nyt eteenpäin napsauttamalla Seuraava, jonka jälkeen saat lisätietoa testin suorittamisesta ennen kuin testi alkaa.</p>
    <p>Jatka testiin painamalla Seuraava</p>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="nextPage()" i18n>Seuraava</button>
  </div>
</div>

