<button class="btn btn-primary" (click)="print('certificate')" i18n>Tulosta</button>

<div id="certificate" [style.visibility]="visibility">
  <h2 i18n>TODISTUS</h2>

  <div i18n>{{user.name}} on suorittanut {{date | date:'d.M.yyyy'}} Arjen tietosuojakoulutuksen testin pistemäärällä</div>

  <br/>
  <div>{{userPoints}} / {{maxPoints}}</div>

  <br/>
  <div i18n>Omaat tarvittavat perustiedot siitä, mitä tietosuojalla tarkoitetaan. Toimi myös koulutuksessa annettujen ohjeiden mukaisesti.</div>
</div>
