<div class="hidden-print">
  <div style="margin-top: 20px">
    <div class="no-gutters row">
      <button (click)="print('certificate')" class="mb-2" style="padding: 2px 5px 2px">
        <i class="fa fa-print"></i>
      </button>
    </div>
      <button shareButton="linkedin" class="mr-1"
            sbUrl="http://tietosuoja.vahtiohje.fi/fi"
            sbTitle="JUHTA tietosuojatesti">
        <i class="fa fa-linkedin-square"></i>
      </button>

      <button shareButton="twitter" class="mr-1"
            sbUrl="http://tietosuoja.vahtiohje.fi/fi"
            sbTitle="JUHTA tietosuojatesti #tuki2018 #stöd2018"
            sbTags="#tuki2018 #stöd2018">
        <i class="fa fa-twitter-square"></i>
      </button>

      <button shareButton="facebook" class="mr-1"
            sbUrl="http://tietosuoja.vahtiohje.fi/fi"
            sbTitle="JUHTA tietosuojatesti"
            sbDescription="#tuki2018 #stöd2018"
            sbImage="http://tietosuoja.vahtiohje.fi/fi/assets/images/JUHTAlogo_5.png">
        <i class="fa fa-facebook-square"></i>
      </button>
  </div>
</div>
<div id="certificate" class="visible-print-block">
  <div class="navbar-brand">
    <img src="/fi/assets/images/JUHTApallot.png" height="50" alt="" align="right">
  </div>
  <div style="clear: both;"></div>

  <div style="margin: 50px 50px 20px 50px;">
    <div class="text-center">
      <h1 i18n>TODISTUS</h1>

      <h2 i18n>Arjen tietosuojakoulutus – tietosuojan perusteet kaikille</h2>

      <p i18n>{{user.title}} {{user.name}}, {{user.organization}} on suorittanut {{date | date:'d.M.yyyy'}} </p>

      <p i18n>Arjen tietosuojakoulutuksen testin pistemäärällä</p>

      <br/>
      <div>{{userPoints}} / {{maxPoints}}</div>
    </div>

    <br/>
    <p i18n>Testi osoittaa, että omaat tarvittavat perustiedot siitä, mitä tietosuojalla tarkoitetaan.</p>

    <p i18n>Toimi koulutuksessa annettujen ohjeiden mukaisesti, noudata sinulle annettuja ohjeita sekä huolehdi osaamisesi säännöllisestä ylläpidosta.</p>

    <p i18n>Helsingissä, {{date | date:'d.M.yyyy'}}</p>


    <div style="min-height: 50px"></div>
    <table>
      <tr>
        <td style="min-width: 300px">Tuula Seppo</td>
        <td>Kimmo Rousku</td>
      </tr>
      <tr>
        <td i18n>JUHTA asiantuntijaryhmän pj.</td>
        <td i18n>VAHTI-pääsihteeri</td>
      </tr>
      <tr>
        <td i18n>Kuntaliitto</td>
        <td i18n>Valtionvarainministeriö</td>
      </tr>
    </table>
  </div>

  <olx-footer></olx-footer>

</div>
