<header id="header" role="banner">
  <div class="container-fluid">
    <div id="heading">
      <div class="row">
        <div class="col-4">
          <a class="logo" href="http://vm.fi" title="Go to Valtiovarainministeriö"> <img alt="Valtiovarainministeriö" src="/assets/images/vmlogo_fi.png"> </a>
        </div>
        <div class="col-8">
          <div class="row">
            <h3>Arjen tietosuojakoulutus – tietosuojan perusteet kaikille</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid" role="main">
  <div class="row">
    <h2>Arjen tietosuojakoulutus – tietosuojan perusteet kaikille –testi {{pageNumber | async}}/{{amountOfPages | async}}</h2>
  </div>
  <div id="content" class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <router-outlet></router-outlet>
    </div>
    <div class="col-3"></div>
  </div>
</div>
