<div>
  <div class="container-fluid" role="main">
    <div id="content">
      <div class="col-10 offset-1">

        <h1 class="olx-heading" i18n>
          Arjen tietosuojaa videokoulutukset ja nettitestit
        </h1>

        <p i18n>Tervetuloa opiskelemaan tietosuoja- ja tietoturva-asioita.</p>

        <p i18n>Avoimena olevat koulutukset ja nettitestit:</p>

        <p i18n>22.6.  Arjen tietosuojaa – tietosuojaa meille kaikille<br>
          Kohderyhmä: organisaation kaikki työntekijät sekä kansalaiset</p>

        <ul>
          <li><a href="https://vimeo.com/sourceme/arjentietosuoja" i18n>Suomenkielinen video</a> - <span i18n>julkaistu</span> 22.6</li>
          <li><a routerLink="/quiz" i18n>Nettitesti</a>                       - <span i18n>julkaistu 22.6. (testiversio)</span></li>
          <li><a href="http://vm.fi/documents/10623/4914009/Arjen+tietosuoja+-koulutusmateriaali/8d13c7db-0f52-44ee-954a-74f24feade73" i18n>Lisämateriaalia suomeksi</a> - <span i18n>julkaistu</span> 22.6</li>
          <li><span i18n>Suomeksi tekstitetty video</span>	                 - <span i18n>julkaistaan heinäkuun aikana</span></li>
          <li><span i18n>Ruotsiksi tekstitetty video</span>	                 - <span i18n>julkaistaan heinäkuun aikana</span></li>
          <li><span i18n>Englanniksi tekstitetty video</span>	               - <span i18n>julkaistaan heinäkuun aikana</span></li>
          <li><span i18n>Lisämateriaalia ruotsiksi</span>                    - <span i18n>julkaistaan heinäkuun aikana</span></li>
        </ul>

        <div i18n>
          <p>Ilmoittautuminen JUHTA tietosuojan yhteishankkeisiin (videot + nettitestit + työpajat)</p>
          <p>
            Onko organisaatiosi (valtionhallinnon organisaatio tai kunta) ilmoittautunut yhteishankkeen osallistujaksi?
            Ellei ole, voit vielä ilmoittautua <a href="https://www.webropolsurveys.com/S/A45B18E45171F666.par">tästä</a>. Oletko asiantuntijana ilmoittautunut yhteishankkeen osallistujaksi?
            Ellet ole, ilmoittaudu <a href="https://www.webropolsurveys.com/S/7FFF5E7C88A77FAB.par">tästä</a> niin saat lisätietoa ja materiaalia työpajoista ja muista tukimateriaaleista.
          </p>
        </div>

        <p i18n>Lisää videoita, oppimateriaalia ja nettitestejä julkaistaan vuoden 2017 kuluessa.</p>

        <div>
          <p i18n>Julkisen hallinnon tietohallinnon neuvottelukunta (JUHTA) asettama asiantuntijaryhmä julkaisee vuoden 2017 aikana tietosuojaa ja tietoturvallisuutta edistäviä videokoulutuksia ja nettitestejä. Koulutusten toteuttamisessa ovat mukana lisäksi</p>
          <img src="/fi/assets/images/Partner_logos.png" height="150" alt="">
        </div>

        <div>
          <p i18n>Palaute: <a href="mailto:arjen.tietosuoja@vm.fi">arjen.tietosuoja@vm.fi</a></p>
        </div>

      </div>
    </div>
  </div>
</div>

