<div>
  <div class="container-fluid" role="main">
    <div id="content">
      <div class="col-md-8 col-10 offset-1 offset-md-2">

        <div class="container-fluid">
          <div class="row">
            <div class="col-8">
              <h2 class="olx-heading" i18n>
                Arjen tietosuojaa videokoulutukset ja nettitestit
              </h2>
            </div>
            <div class="col hidden-sm-down">
              <img src="/fi/assets/images/LOGO4.png" width="160" alt=""
                   style="position: relative; top: -35px; float:right;">
            </div>
          </div>


          <div class="row">
            <div class="hidden-md-up" style="height: 10px;"></div>
          </div>

          <div class="row">
            <div class="col">
              <p class="body-justify" i18n>Tervetuloa opiskelemaan tietosuoja- ja tietoturva-asioita.
                Arjentietosuoja.fi on laadittu edistämään ja kehittämään julkisen hallinnon henkilöstön tietosuojan ja
                tietoturvallisuuden osaamista.
			  Tältä sivulta löydät mm. tietosuojakoulutusvideot ja nettitestin.
			  </p>
            </div>
          </div>

          <div class="row">
            <div style="height: 10px;"></div>
          </div>

          <div class="row">
            <div class="col">
              <h4 class="olx-heading" i18n>
                Mistä on kyse?
              </h4>

              <p class="body-justify" i18n>Arjentietosuoja.fi auttaa organisaatioita valmistautumaan 25.5.2018 sovellettavaksi tulevaan
                tietosuojalainsäädäntöön.
                <a target="_blank" href="http://www.privacy-regulation.eu/fi/index.htm">(EU-yleinen tietosuoja-asetus
                  2016/679 http://www.privacy-regulation.eu/fi/index.htm)</a>.
                Asetus tuo rekisterinpitäjille ja henkilötietojen käsittelijöille uusia vastuita ja velvoitteita.
              </p>

              <p class="body-justify" i18n>Julkisen hallinnon tietohallinnon neuvottelukunta (JUHTA) ja julkisen hallinnon digitaalisen
                turvallisuuden johtoryhmä (VAHTI) järjestävät 2017 – 2018 kaksi tietosuojan yhteishanketta.
                Yhteishankkeeseen
                osallistumalla organisaatio saa hyvät valmiudet tulevan tietosuojalainsäädännön tuomiin muutoksiin.
                Yhteishankkeissa tuotetaan tietosuojakoulutusvideoita, nettitestejä ja järjestetään työpajatilaisuuksia.
                Työpajoissa käsitellään tietosuoja-asetukseen eri osa-alueita, riskienhallintaa ja tietoturvallisuutta
                julkishallinnonnäkökulmasta. Tarkempaa tietoa työpajoista ja niiden materiaalit ovat
                <a target="_blank" href="http://vm.fi/tietosuojan-yhteishankkeet">tietosuojanyhteishankkeiden
                  verkkosivulla
                  vm.fissä (http://vm.fi/tietosuojan-yhteishankkeet)</a>.
				  Materiaalit ja tilaisuudet ovat maksuttomia.
              </p>

              <p i18n>
                <a class="body-bold" target="_blank" href="http://vm.fi/tietosuojan-yhteishankkeet#Ilmoittaudu">Ilmoittaudu
                  mukaan (http://vm.fi/tietosuojan-yhteishankkeet#Ilmoittaudu)</a>
              </p>
            </div>
          </div>

          <div class="row">
            <div style="height: 10px;"></div>
          </div>

          <div class="row">
            <div class="col">
              <h4 class="olx-heading" i18n>
                Tietosuojakoulutusvideot
              </h4>

              <div style="height: 10px;"></div>

              <h5><a target="_blank" href="https://vimeo.com/222342825" i18n>Arjen tietosuojaa - tietosuojaa meille kaikille</a><br/><a
                target="_blank" href="https://vimeo.com/229810391" i18n>(video
                också på svenska)</a><br/><a target="_blank" href="https://vimeo.com/237761303/a2992e4ab4" i18n>(video also in
                english)</a></h5>
              <table>
                <tr>
                  <td style="vertical-align:top" i18n>Kenelle:</td>
                  <td i18n>Organisaation kaikki työntekijät sekä kansalaiset
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" i18n>Sisältö:</td>
                  <td i18n>Sisältää perustietoa henkilötietojen käsittelystä
				  <ul>
				  <li>perustietoa tietosuojasta, henkilötietojen käsittelystä ja tietoturvallisuudesta</li>
				  </ul>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" i18n>Lisämateriaali:</td>
                  <td><a target="_blank"
                    href="http://vm.fi/documents/10623/4914009/Arjen+tietosuoja+-koulutusmateriaali/8d13c7db-0f52-44ee-954a-74f24feade73"
                    i18n>Kooste videon tieto-osuuksista</a>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" i18n>Osaamisen testaus:</td>
                  <td><a routerLink="/quiz" i18n>Nettitesti</a>
                  </td>
                </tr>
              </table>

              <div style="height: 30px;"></div>
              <h5><a target="_blank" href="https://vimeo.com/234313084/f874f6b947" i18n>Johdon ja esimiesten koulutusvideo</a><br/><a
                target="_blank" href="https://vimeo.com/237761303/a2992e4ab4" i18n>(video
                också på svenska)</a></h5>
              <table>
                <tr>
                  <td style="vertical-align:top" i18n>Kenelle:</td>
                  <td i18n>Johdolle ja esimiehille
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" i18n>Sisältö:</td>
                  <td i18n>Uudistunut tietosuojalainsäädäntö, uudet velvoitteet,
                    riskienhallinta, tietosuojavastaava, hankinnat, sopimukset, tietojen luovuttaminen, seuraamukset,
                    osoitusvelvollisuus ja johdon huoneentaulu
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" i18n>Lisämateriaali:</td>
                  <td i18n>Kooste videon tieto-osuuksista
                  </td>
                </tr>
              </table>

              <div style="height: 30px;"></div>
              <h5><a target="_blank" href="https://vimeo.com/250133179/9dc258be2e" i18n>Tietosuojaa henkilötietoja käsitteleville
                –video</a><br/><span
                i18n>(video också på svenska kommer)</span></h5>

              <table>
                <tr>
                  <td style="vertical-align:top" i18n>Kenelle:</td>
                  <td i18n>Henkilötietoja käsittelevät henkilöt
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" i18n>Sisältö:</td>
                  <td i18n>Videon voi katsoa joko kokonaisuudessaan, sisältää kaikki 6 osiota (kesto 44:08) tai osissa.
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" i18n>Osa 1.</td>
                  <td i18n>Tietosuojaperiaatteet, ohjeistus henkilötietojen käsittelijöille, tietosuojavastaava,
                    henkilötietojen käsittely
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" i18n>Osa 2.</td>
                  <td i18n>Sisäänrakennettu ja oletusarvoinen tietosuoja, osoitusvelvollisuus, hankinnat ja sopimukset
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" i18n>Osa 3.</td>
                  <td i18n>Suostumusmenettely, tietoturva ja riskienhallinta, riskiperusteinen lähestymistapa,
                    vaikutustenarviointi
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" i18n>Osa 4.</td>
                  <td i18n>Rekisteröidyn informoiminen ja yhteisrekisteri
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" i18n>Osa 5.</td>
                  <td i18n>Rekisteröidyn oikeuksien toteuttaminen, jatkuva laadunparantaminen (PDCA-malli), osaamisen
                    kehittäminen ja ylläpito, RACI-vastuunjakomatriisi, MMKT-toimintamalli
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" i18n>Osa 6.</td>
                  <td i18n>Anonymisointi, pseudonymisointi, säilytys ja arkistointi, hävittäminen, MMKT-toimintamalli
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" i18n>Lisämateraali:</td>
                  <td i18n>tulossa
                  </td>
                </tr>
              </table>

              <div class="row">
                <div style="height: 30px;"></div>
              </div>
              <div i18n>Videon voi katsoa joko kokonaisuudessaan (kesto 44:08) tai 6:ssa eri osassa.</div>
              <table>
                <tr>
                  <td style="vertical-align:top" i18n>Täyspitkä versio:</td>
                  <td><a target="_blank" href="https://vimeo.com/250133179/9dc258be2e" i18n>https://vimeo.com/250133179/9dc258be2e</a>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" i18n>Osa 1:</td>
                  <td><a target="_blank" href="https://vimeo.com/250116359/9191a0ecd9" i18n>https://vimeo.com/250116359/9191a0ecd9</a>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" i18n>Osa 2:</td>
                  <td><a target="_blank" href="https://vimeo.com/250117329/d034a3bd62" i18n>https://vimeo.com/250117329/d034a3bd62</a>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" i18n>Osa 3:</td>
                  <td><a target="_blank" href="https://vimeo.com/250119008/f298dd58c1" i18n>https://vimeo.com/250119008/f298dd58c1</a>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" i18n>Osa 4:</td>
                  <td><a target="_blank" href="https://vimeo.com/250119755/96f9a83a83" i18n>https://vimeo.com/250119755/96f9a83a83</a>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" i18n>Osa 5:</td>
                  <td><a target="_blank" href="https://vimeo.com/250121080/2745f6600e" i18n>https://vimeo.com/250121080/2745f6600e</a>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" i18n>Osa 6:</td>
                  <td><a target="_blank" href="https://vimeo.com/250122823/c820691187" i18n>https://vimeo.com/250122823/c820691187</a>
                  </td>
                </tr>

              </table>

            </div>
          </div>

          <div class="row">
            <div style="height: 30px;"></div>
          </div>

          <div class="row">
            <div class="col">
              <p i18n>Twitterissä löydät meidät tunnisteilla #arjentietosuoja #tuki2018 #stöd2018</p>
              <p i18n>Yhteishankkeiden toteuttamisessa ovat mukana:</p>
              <img src="/fi/assets/images/Partner_logos.png" height="150" alt="">
			  <table>
				<tr>
				  <td i18n>Palaute:</td>
				  <td><a href="mailto:arjen.tietosuoja@vm.fi">arjen.tietosuoja@vm.fi</a></td>
				</tr>
			  </table>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
</div>

