<div>
  <div class="container-fluid" role="main">
    <div id="content">
      <div class="col-10 offset-1">

        <h1 class="olx-heading" i18n>
          Arjen tietosuojaa videokoulutukset ja nettitestit
        </h1>

        <p i18n>Tervetuloa opiskelemaan tietosuoja- ja tietoturva-asioita.</p>

        <p i18n>Avoimena olevat koulutukset ja nettitestit:</p>

        <p i18n>22.6.  Arjen tietosuojaa – tietosuojaa meille kaikille<br>
          Kohderyhmä: organisaation kaikki työntekijät sekä kansalaiset</p>

        <ul>
          <li><a href="" i18n>Suomenkielinen video</a>	                       - <span i18n>julkaistu</span> 22.6</li>
          <li><a routerLink="/quiz" i18n>Nettitesti</a>                        - <span i18n>julkaistu 22.6. (testiversio)</span></li>
          <li><a href="http://google.fi" i18n>Lisämateriaalia suomeksi</a>     - <span i18n>julkaistaan heinäkuun aikana</span></li>
          <li><a href="" i18n>Suomeksi tekstitetty video</a>	                 - <span i18n>julkaistaan heinäkuun aikana</span></li>
          <li><a href="" i18n>Ruotsiksi tekstitetty video</a>	                 - <span i18n>julkaistaan heinäkuun aikana</span></li>
          <li><a href="" i18n>Englanniksi tekstitetty video</a>	               - <span i18n>julkaistaan heinäkuun aikana</span></li>
          <li><a href="" i18n>Lisämateriaalia ruotsiksi</a>                    - <span i18n>julkaistaan heinäkuun aikana</span></li>
        </ul>

        <p i18n>Lisää videoita, oppimateriaalia ja nettitestejä julkaistaan vuoden 2017 kuluessa.</p>

        <div>
          <p i18n>Julkisen hallinnon tietohallinnon neuvottelukunta (JUHTA) asettama asiantuntijaryhmä julkaisee vuoden 2017 aikana tietosuojaa ja tietoturvallisuutta edistäviä videokoulutuksia ja nettitestejä. Koulutusten toteuttamisessa ovat mukana lisäksi</p>
          <img src="/fi/assets/images/Partner_logos.png" height="150" alt="">
        </div>

        <div>
          <p i18n>Palaute: <a href="mailto:arjen.tietosuoja@vm.fi">arjen.tietosuoja@vm.fi</a></p>
        </div>

      </div>
    </div>
  </div>
</div>

