input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea {
/*  background-image: url(../images/forms/input_shadow.png);*/
  background-repeat: no-repeat;
  border: 1px solid;
  border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
  font: 1em Arial,Helvetica,Verdana,sans-serif;
  padding: 5px 1px;
}


body {
  font-size: .8em;
  font-family: Arial,Helvetica,Sans-serif;
}

button {
  background: #F5F5F5 /*url(../images/forms/button.png) repeat-x 0 0*/;
  border-color: #DEDEDE #BFBFBF #BFBFBF #DEDEDE;
  color: #34404F;
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
}

button:enabled:hover, button:enabled:focus {
  background: #DFF4FF;
  border: 1px solid #A7CEDF;
  color: #369;
}

input.ng-invalid.ng-touched {
  border: 3px solid red;
}

button:disabled {
  background: #EEEEEE;
  color: lightgrey;
}
