<div>
  <div class="form-group required row" [class.has-danger]="userName.invalid && userName.touched">
    <label for="userName" class="col-3 col-form-label">Nimi:</label>
    <div class="col-5">
      <input
        required
        #userName="ngModel"
        id="userName"
        type="text"
        [(ngModel)]="name"
        class="form-control form-control-danger">
    </div>
  </div>

  <div class="form-group row">
    <label for="userTitle" class="col-3 col-form-label">Tehtävänimike:</label>
    <div class="col-5">
      <input
        id="userTitle"
        type="text"
        [(ngModel)]="title"
        class="form-control">
    </div>
  </div>

  <div class="form-group row">
    <label for="userOrganization" class="col-3 col-form-label">Organisaatio:</label>
    <div class="col-5">
      <input
        id="userOrganization"
        type="text"
        [(ngModel)]="organization"
        class="form-control">
    </div>
  </div>

  <br/>
  <div>
    <div>
      <strong>Vastausohjeet</strong>
    </div>
    <br/>
    <div>
      Sinulle esitetään kymmenen kysymystä liittyen katsomaasi ”Arjen tietosuoja” –videoon (linkki videoon). Valitse mielestäsi kysymykseen liittyvät oikeat vaihtoehdot, niitä on aina vähintään yksi, mutta niitä voi olla useampia.
    </div>
    <br/>
    <div>
      Vastattuasi kaikkiin kymmeneen kysymyksiin saat testituloksen. Mikäli testituloksesi on riittävän hyvä, saat mahdollisuuden tulostaa testin läpäisemisen osoittavan todistuksen sekä tallentaa sen omalle tietokoneellesi talteen. Mikäli olet saanut organisaatioltasi lisätietoja testin läpäisemisen osoittamisen osalta, toimi annettujen ohjeiden mukaisesti.
    </div>
    <br/>
    <div>
      Jos testisi ei mennyt läpi, voit opiskella lisää tai voit halutessasi myös kokeilla saman tien uudelleen.
    </div>
    <br/>
    <div>
      Jatka testiin painamalla Seuraava.
    </div>
  </div>
  <br/>
  <div>
    <button type="button" class="btn btn-primary" [disabled]="userName.invalid" (click)="nextPage()">Seuraava</button>
  </div>
</div>

