@font-face {
  font-family: FranklinGothic;
  src: local("FranklinGothickBookRegular"),
  local("FranklinGothickBookRegular"),
  url(/fi/assets/fonts/FranklinGothicBookRegular.ttf);
  font-weight: bold;
}

@font-face {
  font-family: FranklinGothicMedium;
  src: local("FranklinGothikMediumRegular"),
  local("FranklinGothicMediumRegular"),
  url(/fi/assets/fonts/FranklinGothicMediumRegular.ttf);
  font-weight: bold;
}

body {
  background: url(/fi/assets/images/JUHTApallot.png) no-repeat 80% top;

  font-family: "FranklinGothic", Helvetica, Arial, sans-serif;
}

#content {
  margin-top: 140px;
}
