body {
  background: url(/assets/images/VM_Etusivu_2236x420_171014.jpg) no-repeat 50% 12px white;
  font-family: "Gotham XNarrow 5r", "Gotham XNarrow A", "Gotham XNarrow B", Helvetica, Arial, sans-serif;
}

#content {
  margin-top: 100px;
}
