@import url(/fi/assets/styles/font-awesome.min.css);

@font-face {
  font-family: FranklinGothic;
  src: local("FranklinGothickBookRegular"),
  local("FranklinGothickBookRegular"),
  url(/fi/assets/fonts/FranklinGothicBookRegular.ttf);
  font-weight: bold;
}

@font-face {
  font-family: FranklinGothicMedium;
  src: local("FranklinGothikMediumRegular"),
  local("FranklinGothicMediumRegular"),
  url(/fi/assets/fonts/FranklinGothicMediumRegular.ttf);
  font-weight: bold;
}

body {
  font-family: "FranklinGothic", Helvetica, Arial, sans-serif;
}

#content {
  margin-top: 40px;
}

.olx-heading {
  color: #316CAE;
}
@media print {
  body {
    margin: 0;
  }

}
